/* Universal */

* {
    font-size: 18px;
    padding: 0;
    margin: 0;
    background-color: black;
}

main > section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

strong {
    font-size: 23px;
}

option {
    background-color: white;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 1;
    box-shadow: 10px 5px 5px black;
}

h1 {
    font-family: 'Tilt Prism', cursive;
    font-weight: lighter;
    font-size: 7rem;
    height: 11vh;
    color: white;
    background-color: transparent;
}

nav p {
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: white;
    background-color: transparent;
}


/* Event 1: Intro Page */
#event0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#introIcon {
    background-image: url(../images/LOGOS/TarrifLogoFinal.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    background-blend-mode: hard-light;
    width: 100%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Event1Container {
    display: flex;
    justify-content: center;
    height: 25vh;
    width: fit-content;
    background-color:rgba(157, 159, 123, 0);
}

#introIcon button  {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(119, 119, 119, 0.8) 100%);
    animation-duration: 4s;
    animation-name: buttonHover;
    opacity: 97%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    border: 2px black solid;
    font-family: 'Goblin One', cursive;
}

#introIcon button:hover  {
    cursor:pointer;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300vh;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
}

.instructions div {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0px 0px 50px 5px white;
    border: 1px solid black;
    border-radius: 15px;
    width: 70%;
    height: 15%;
}

#event0 > article * {
    background-color: white;
}

#event0 > article .leftShift {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#event0 > article .rightShift {
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#event0 > article div h3 {
    width: 80%;
    font-size: 2rem;
    font-family: 'Black Han Sans', sans-serif;
}

#event0 > article div p {
    width: 80%;
    font-size: 1.4rem;
    font-family: 'Nanum Myeongjo', serif;
}

/* Event 1: Footer */
footer {
    background-color: black;
    color: white;
    height: 2vh;
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

footer address {
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 0.9rem;
}

footer p {
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 0.9rem;
}

/* Event 2: Settings Menu */
.event1Section > div {
    height: 100vh;
    background-color: rgb(255, 254, 248);
    width: 40vw;
    text-align: center;
    margin-left: 30vw;
    display: flex;
    flex-direction: column;
    font-size: 2em;
}

.event1Section span * {
    background-color: rgb(255, 255, 255);
}

.event1Section input {
    background-color: aliceblue;
    margin-left: 20px;
    margin-top: 5vh;
}

.event1Section p {
    margin-top: 5vh;
}

.event1Section button {
    background-color: aliceblue;
    margin-top: 10vh;
    padding: 20px;
}

.event1Section img {
    margin-right: 50%;
    background: none;
}

.event1Section span select:not(.customButton) {
    width: 200px;
    background-color: aliceblue;
    margin-left: 20px;
    margin-top: 5vh;
}

.event1Section span {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event1Section span div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 100%;
}

input[type="checkbox"] {
    visibility: hidden;
}

span div label .customButton {
    height: 20px;
    width: 20px;
    background-color: red;
}

/* Event 3: Game */

/* Game Board */
#event2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#event2 *:not(#event2sup *) {
    /* background-color: white; */
    max-height: 100%;
}

#event2sup *:not(.active, #event2sup div:nth-child(2) p, #event2sup div:nth-child(3) p) {
    background-color: white;
}

#event2sup {
    background-color: white;
}

#event2 #event2sub {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1025px;
    height: 98.3vh;
    background-color: rgb(227, 227, 227);
    height: 98.3%;
}

#event2 #event2sup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 98.3vh;
}

.boardLogoImage {
    transform: rotate(20deg);
    height: 25%;
    align-self: center;
    border: 2px solid black;
    opacity: 50%;
    border-radius: 20px 20px 20px 20px;
}

.cell {
    width: 70px;
    height: 70px;
    border: 2px black solid;
    padding: 10px;
    background-color: rgb(241, 241, 241);
}

.cell img {
    background-color: rgb(241, 241, 241);
    width: 75%;
    padding: 0;
}

#firstBlock,
#secondBlock,
#thirdBlock,
#fourthBlock {
    display: flex;
    width: fit-content;
    height: fit-content;
}

#firstBlock {
    flex-direction: row;
}

#fourthBlock {
    flex-direction: row-reverse;
}

#thirdBlock {
    flex-direction: column;
}

#secondBlock {
    flex-direction: column-reverse;
}

/* I am sure there are better ways to do this, but this is the "names" and bars for each cell. */
#cell31 div, #cell33 div, #cell34 div, #cell36 div, #cell37 div, #cell39 div {
    font-size: 0.7em;
    padding: 2px;
    height: 20%;
    transform: rotate(90deg);
    width: 100%;
    margin-left: 33px;
    margin-top: 26px;
    text-align: center;
    font-weight: bolder;
}  

#cell01 div, #cell03 div, #cell04 div, #cell06 div, #cell08 div, #cell09 div {
    font-size: 0.7em;
    padding: 2px;
    height: 20%;
    width: 100%;
    margin-right:20px;
    text-align: center;
    font-weight: bolder;
    margin-top: 62px;
}  

#cell11 div, #cell13 div, #cell14 div, #cell16 div, #cell17 div, #cell19 div {
    font-size: 0.7em;
    padding: 2px;
    height: 20%;
    transform: rotate(-90deg);
    width: 100%;
    margin-left: -38px;
    margin-top: 26px;
    text-align: center;
    font-weight: bolder;
}  

#cell29 div, #cell27 div, #cell26 div, #cell24 div, #cell22 div, #cell21 div {
    font-size: 0.7em;
    padding: 2px;
    height: 20%;
    width: 100%;
    margin-right:20px;
    text-align: center;
    font-weight: bolder;
    margin-top: 62px;
}  

#cell31 div, #cell33 div {
    /* Brown Properties */
    background-color: rgb(165, 130, 42);
}
#cell36 div, #cell37 div, #cell39 div {
    /* Sky Blue Properties */
    background-color: rgb(178, 220, 237);
}
#cell01 div, #cell03 div, #cell04 div {
    /* Brownish Red Properties */
    background-color: rgb(208, 108, 108);
}
#cell06 div, #cell08 div, #cell09 div {
    /* Orange Properties */
    background-color: orange;
}
#cell29 div, #cell27 div {
    /* Blue Properties */
    background-color: rgb(121, 132, 251);
}
#cell24 div, #cell22 div, #cell21 div {
    /* Green Properties */
    background-color: greenyellow;
}
#cell11 div, #cell13 div, #cell14 div {
    /* Red Properties */
    background-color: red;
}
#cell16 div, #cell17 div, #cell19 div {
    /* Yellow Properties */
    background-color: yellow;
}
#cell35, #cell05, #cell15, #cell25 {
    /* Transportation */
    background-color: rgb(165, 133, 255);
}
#cell35 div, #cell05 div, #cell15 div, #cell25 div{ 
    /*Also Transportation */
    background-color: rgb(165, 133, 255);
}
#cell02, #cell34, #cell18, #cell28 {
    /* Extra tiles (water works, elec bill, etc) */
    background-color: aliceblue;
}
#cell07, #cell32, #cell23 {
    /* Chest tiles */
    background-color: khaki;
}
#cell38, #cell12, #cell26 {
    /* chance tiles  */
    background-color: pink;
}

#diceButton {
    width: 100%;
    height: 10vh;
    border: 3px black solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

#diceButton p {
    background-color: transparent;
}

/* Presidential Elections */

#event2 > #electD > #KD,
#event2 > #electD > #OD,
#event2 > #electD > #RD,
#event2 > #electD > #PTD,
#event2 > #electD > #CD,
#event2 > #electD > #PSD,
#event2 > #electD > #ZD,
#event2 > #electD > #GD {
    display: none;
    z-index: 9;
}

.electionAlert {
    display: flex;
    flex-wrap: wrap;
    z-index: 9;
    top: 100px;
    left: 21.5%;
    position: absolute;
    height: 70%;
    max-height: 70%;
    max-width: 57%;
    border: 10px black solid;
}

.electionAlert div:not(.electionSide) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: fit-content;
    line-height: 30px;
}

.electionSide {
    z-index: 9;
    width: 49.65%;
    height: 60vh;
    border: 5px black solid;
    margin: -3px;
}

.electionDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 9;
    width: 49.65%;
    height: 13%;
    border: 5px black solid;
    margin: -3px;
}

/* Presidential Candidates */
.PKirk {
    content: url(../images/POTUS/ColbyK.jpg);
}

.POlsen {
    content: url(../images/POTUS/ColbyO.jpg);
}

.PCox {
    content: url(../images/POTUS/LucasC.jpg);
}

.PEthan {
    content: url(../images/POTUS/Ethan.jpg);
}

.PZach {
    content: url(../images/POTUS/ZachG.jpg);
}

.PMason {
    content: url(../images/POTUS/MasonP.jpg);
}

.PPaul {
    content: url(../images/POTUS/PaulZ.jpg);
}

.PJustus {
    content: url(../images/POTUS/JustusP.jpg);
}

/* Player Bar */
#event2sup .PBHolder {
    display: flex;
    justify-content: center;
    height: 7.5vh;
    width: 100%;
    padding: 10px 0px 0px 0px;
}

#playerBar {
    display: flex;
    border: 2px solid aqua;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(0, 255, 0, 0.7), rgba(128, 255, 212, 0.7));
}

#playerBar * {
    background-color: transparent;
}

/* Current Player */
#event2sup .currentPC {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: auto;
    margin: 5px;
    box-sizing: border-box;
}

#currentPC {
    font-family: 'Goblin One', cursive;
    font-size: 2rem;
    font-weight: lighter;
}

/* Player Inventory */
#event2 span div:nth-child(2):not(.buttonandother, .buttonandother *) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.playerInventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60vh;
    border: 3px black solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
}

.buttonandother {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60vh;
}

.placeholder {
    width: 100%;
    height: 50vh;
}

/* Current Event */
span div:nth-child(3) {
    display: flex;
    flex-direction: row;
}

.currentEvent {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
    width: 50%;
    height: 20vh;
}

.currentEvent p {
    background-color: transparent;
}

/* Current POTUS*/
.currentPOTUS {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
    width: 41%;
    height: 20vh;
}

.currentPOTUS p {
    background-color: transparent;
}

#event2 span:not(#event2sub) div:nth-child(3):not(#playerBar *) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/* Player Characters */
.active {
    width: 80px;
    height: 80px;
}

.inactive {
    width: 80px;
    height: 80px;
}

.dragon {
    content: url(../images/PC-PIECES/DragonCharacter.gif);
}

.frog {
    content: url(../images/PC-PIECES/FrogCharacter.gif);
}

.herm {
    content: url(../images/PC-PIECES/HermCrabCharacter.gif);
}