/* Universal code: */

* {
    font-size: 18px;
    padding: 0;
    margin: 0;
    background-color: black;
}

main > section {
    display: flex;
    justify-content: center;
    flex-direction: center;
}

option {
    background-color: white;
}

/* Event 1: Intropage */

#introIcon {
    background-image: url(../images/LOGOS/MrEvilMonopoly.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    background-blend-mode: hard-light;
    width: 100vw;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Event1Container {
    display: flex;
    justify-content: center;
    height: 25vh;
    width: fit-content;
}

#introIcon button  {
    background-color: rgb(190, 209, 195);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 300px;
    border: solid rgb(163, 164, 146) 2px;
    border-radius: 10px 10px 10px 10px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    height: 2vh;
}

footer section {
    display: flex;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    width: 33%;
}

footer address {
    width: 67%;
    padding-bottom: 1%;
    padding-left: 1%;
}

/* Event2: Settings */
.event1Section > div {
    height: 100vh;
    background-color: white;
    width: 40vw;
    text-align: center;
    margin-left: 30vw;
    display: flex;
    flex-direction: column;
    font-size: 2em;
}

.event1Section span * {
    background-color: white;
}

.event1Section span {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event1Section span div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 100%;
}

.event1Section span select {
    width: 200px;
    background-color: aliceblue;
}

/* Event 3: Game */

#event2 * {
    background-color: white;
}

#event2 span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px black solid;
}

#firstBlock,
#secondBlock,
#thirdBlock,
#fourthBlock {
    display: flex;
    width: fit-content;
    height: fit-content;
}

#firstBlock,
#thirdBlock {
    flex-direction: row;
}

#secondBlock,
#fourthBlock {
    flex-direction: column;
}

#secondBlock {
    justify-content: right;
}